.post-block {
    background-color: alpha(#fff, 0.8);
}

.hty-icon-button#search,
.hty-icon-button,
#goDown {
    background-color: alpha(#fff, 0.6);
    border-radius: 50%;
}

#say::before {
    position: absolute;
    height: 6rem;
    width: 100%;
    background-color: white;
    mix-blend-mode: overlay;
    content: "";
    opacity: 0.8;
}

#say {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#say #say-content,
#say #say-author,
#say #say-from {
    mix-blend-mode: hard-light;
    color: white;
    text-shadow: black 1px 1px;
}
