/*
 * Modified from https://github.com/matrixk/bitcron-theme-lily by matrixk
 */

$white: #ffffff;
$black: #000000;
$light-color: #e3ddff;
$light-grey: #f1f1f1;
$dark-grey: #555555;
$grey: #888888;

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
    --primary-hue: #{hue($light-color)};
    --primary-sat: #{saturation($light-color)};
    --primary-lit: #{lightness($light-color)};
    --primary: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lit));
    --primary-rgb: #{hexToRGB($light-color)};
    --darken: 25%;
    --lit-base: calc(var(--primary-lit) - var(--darken));
    --lit-dark: calc(var(--lit-base) - var(--darken));
    --primary-base: hsl(var(--primary-hue), var(--primary-sat), var(--lit-base));
    --primary-dark: hsl(var(--primary-hue), var(--primary-sat), var(--lit-dark));
}

$line-height: 2;
$transition: all 0.5s;
$border: $grey 1px dotted;
$half-bg: linear-gradient(to top, var(--primary), var(--primary) 30%, transparent 30%) no-repeat;
$half-bg-white: linear-gradient(to top, #ffffff, #ffffff 30%, transparent 30%) no-repeat;
$text-decoration: var(--primary-base) dashed underline 0.05em;
$font-family-cursive: 'Long Cang', cursive;
$font-family: "Noto Serif CJK SC", "Noto Serif SC", "Source Han Serif SC", "Noto Serif CJK",  "Source Han Serif", source-han-serif-sc, sans-serif;
$comment-border: #cecece 1px solid;
$box-shadow: 0 0 10px #f1f1f1;
$font-weight-light: 400;
$font-weight-medium: 600;
$font-weight-heavy: 800;
$sidebar-width: 38.2vw;

/* templates for extend */
.module {
    font-size: 1em*0.9;
    line-height: $line-height;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $white;
    line-height: $line-height;
    font-size: 17px;
    color: $grey;
    letter-spacing: 0.1em;
    font-family: $font-family;
    display: flex;
    margin: 0;
    min-height: 100vh;
}

a {
    color: hsl(var(--primary-hue), var(--primary-sat), var(--lit-base));
    -webkit-text-decoration: $text-decoration;
            text-decoration: $text-decoration;
    background: $half-bg;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    background-size: 0 100%;
    &:hover {
        color: hsl(var(--primary-hue), var(--primary-sat), var(--lit-dark));
        background-size: 100% 100%;
    }
}

#pageSide {
    display: flex;
    flex-flow: column;
    margin: auto 2em;
    &.hidden {
        display: none;
    }
    header {
        /* width: $sidebar-width; */
        height: 100vh;
        display: flex;
        align-items: center;
        overflow: hidden auto;
        .siteTitleContainer {
            padding-top: 2em;
            .searchBar {
                padding-bottom: 1em;
                #tipue_search_input {
                    background-color: $light-grey;
                    width: 60%;
                    vertical-align: middle;
                    -webkit-transition: $transition;
                    -o-transition: $transition;
                    transition: $transition;
                    &.hidden {
                        width: 0;
                        visibility: hidden;
                        & ~ #searchClose {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
                svg {
                    -webkit-transition: $transition;
                    -o-transition: $transition;
                    transition: $transition;
                    vertical-align: middle;
                    scale: 1.2;
                    box-shadow: 1px 1px 5px var(--primary);
                    margin: 0.2em;
                    padding: 0.2em;
                    &:hover {
                        background-color: var(--primary);
                        scale: 1.4;
                    }
                }
                #search-results {
                    max-height: 80%;
                    background-color: var(--primary);
                    position: absolute;
                    overflow: hidden scroll;
                    max-width: 34vw;
                    padding: 0.5em;
                    box-shadow: 1px 1px 5px $grey;
                    border-radius: 0.3em;
                    &.hidden {
                        display: none;
                    }
                    a {
                        color: $black;
                        vertical-align: middle;
                        background: $half-bg-white;
                        background-size: 0 100%;
                        -webkit-transition: $transition;
                        -o-transition: $transition;
                        transition: $transition;
                        &:hover {
                            background-size: 100% 100%;
                            color: $black;
                        }
                    }
                    .tipue_search_result {
                        margin-top: 3em;
                        border-top: $grey dashed 2px;
                    }
                    .tipue_search_content_title {
                        font-size: large;
                        font-weight: bold;
                        &::after {
                            content: '';
                            display: block;
                            width: 70px;
                            height: 12px;
                            background-color: $white;
                            position: relative;
                            top: -26px;
                            z-index: -1;
                        }
                    }
                    .tipue_search_content_bold {
                        text-decoration: $white underline 1px dashed;
                        border-radius: 0.5em;
                        outline: auto;
                    }
                    /* From tipuesearch.css */
                    #tipue_search_foot_boxes {
                        font: 14px 'Source Code Pro', sans-serif;
                        text-transform: uppercase;
                        color: #333;
                        padding: 0;
                        margin: 0;
                        cursor: pointer;
                    }
                    #tipue_search_foot_boxes li {
                        display: inline;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                    #tipue_search_foot_boxes li a {
                        background-color: #f7f7f7;
                        color: #666;
                        padding: 10px 17px 11px 17px;
                        border-radius: 3px;
                        margin-right: 7px;
                        text-decoration: none;
                        text-align: center;
                        transition: 0.3s;
                    }
                    #tipue_search_foot_boxes li.current {
                        background: #252525;
                        color: #ccc;
                        padding: 10px 17px 11px 17px;
                        border-radius: 3px;
                        margin-right: 7px;
                        text-align: center;
                    }
                    #tipue_search_foot_boxes li a:hover {
                        background: #252525;
                        color: #ccc;
                    }
                }
            }
            .siteTitle {
                letter-spacing: 0;
                font-size: 50px;
                text-decoration: none;
                line-height: 1;
                font-family: $font-family-cursive;
                color: $black;
                -webkit-transition: $transition;
                -o-transition: $transition;
                transition: $transition;
                a {
                    color: unset;
                    text-decoration: none;
                }
                &:hover {
                    color: $grey;
                }
                &::after {
                    content: '';
                    display: block;
                    width: 110px;
                    height: 0.4em;
                    background-color: var(--primary);
                    position: relative;
                    left: 120px;
                    top: -26px;
                    z-index: -1;
                }
            }
        }
        .siteTextContainer {
            display: inline;
            max-width: 100px;
            .siteText {
                span {
                    display: block;
                }
                .special {
                    color: $black;
                }
            }
        }
        #menu {
            margin-top: 1em;
            overflow: hidden;
            ul {
                padding: 0;
                margin: 0;
                li {
                    display: inline;
                    list-style: none;
                    a {
                        color: $grey;
                        background: $light-grey;
                        text-decoration: none;
                        padding: 0 0.5em;
                        border-radius: 10px;
                        white-space: nowrap;
                        -webkit-transition: $transition;
                        -o-transition: $transition;
                        transition: $transition;
                        &:hover {
                            color: $white;
                            background: $grey;
                        }
                    }
                    &.active a {
                        color: $white;
                        background: $dark-grey;
                        span.sr-only {
                            display: none;
                        }
                        &:hover {
                            background: $grey;
                        }
                    }
                }
            }
            .icon {
                display: none;
            }
        }
    }
}

#pageMain {
    overflow: hidden;
    margin: auto 0;
    display: flex;
    width: 100%;
    &.sideHidden #postInner {
        padding-left: 20px;
        article {
            padding-left: 20px;
        }
    }
    article {
        overflow: visible;
        margin: 0 3em 0.5em 0;
        border-bottom: var(--primary) 3px double;
        &::after {
            width: 120px;
            height: 17px;
            background-color: var(--primary);
            content: "";
            display: block;
            left: calc(100% - 120px);
            position: relative;
            opacity: 0.5;
        }
        .p-summary.entry-summary {
            -webkit-transition: $transition;
            -o-transition: $transition;
            transition: $transition;
            overflow: hidden;
            *:first-child {
                margin-top: 0;
                *:first-child {
                    margin-top: 0;
                }
            }
            &.pre-hidden {
                max-height: 100vh;
            }
            &.hidden {
                max-height: 0vh;
            }
        }
    }
    footer {
        bottom: 0;
        left: 2em;
        font-size: small;
        display: none;
        position: absolute;
        p {
            text-align: right;
        }
    }
}

/*Post---------------------------------------------------------------*/

#pageMain {
    #postInner {
        scroll-behavior: smooth;
        max-height: 100vh;
        overflow: auto;
        padding: 0 2em 0 0;
        color: $black;
        width: 100%;
        #content {
            margin-top: 1.2em;
        }
    .postindex {
        h1.entry-title {
            font-size: 1.35rem;
        }
        article.h-entry {
            display: flex;
            flex-wrap: wrap;
            header, div {
                flex-grow: 1;
            }
            header {
                display: inline-block;
                h1.entry-title {
                    display: inline-block;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    line-height: 1;
                    border-bottom: none;
                    &::after {
                        top: -12px;
                    }
                }
                 .metadata {
                    display: inline-block;
                }
            }
            &>a {
                display: inline-block;
                margin: auto 0 auto auto;
                box-shadow: 1px 1px 10px var(--primary);
                background-color: $white;
                padding: 0.2rem;
                opacity: 0.5;
                &:hover {
                    background-color: var(--primary);
                    scale: 1.2;
                    opacity: 1;
                }
                &.preview-icon::after {
                    content: "";
                    width: 1.4rem;
                    height: 1.4rem;
                    display: block;
                    background-size: cover;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNCAxMmgxNnYySDR2LTJtMC0zaDE2djJINFY5bTEyLTVsLTQgNC00LTRoM1YxaDJ2M2gzTTggMTlsNC00IDQgNGgtM3YzaC0ydi0zSDh6Ii8+PC9zdmc+");
                }
                &.preview-icon.preview::after {
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTMgOXY2aDNsLTQgNC00LTRoM1Y5SDhsNC00IDQgNGgtM000IDJoMTZ2Mkg0VjJtMCAxOGgxNnYySDR2LTJ6Ii8+PC9zdmc+");
                }
            }
            div.p-summary {
                flex-basis: 100%;
            }
        }
    }
    article {
        .license {
            border: 0.75rem rgba(var(--primary-rgb), 0.25) solid;
            background-color: rgba(var(--primary-rgb), 0.1);
            box-shadow: inset 0px 0px 10px var(--primary);
            padding: 0.5rem;
            border-radius: 0.25rem;
            p {
                margin: 0;
                font-size: smaller;
                a {
                    display: inline-block;
                }
                img {
                    height: 22px;
                    margin-left: 3px;
                    vertical-align: text-bottom;
                }
            }
        }
        .locator {
            position: fixed;
            right: 2em;
            top: -3em;
            visibility: hidden;
            opacity: 0;
            background-color: $white;
            padding: 0.2em 1em 0.2em 1em;
            box-shadow: 1px 1px 10px var(--primary);
            -webkit-transition: $transition;
            -o-transition: $transition;
            transition: $transition;
            border-radius: 0.8em;
            a {
                box-shadow: 0px 0px 5px var(--primary);
                padding: 5px;
                border-radius: 5px;
            }
            a[href="#toc"] {
                margin-right: 1em;
            }
            &.visible {
                top: 0.5em;
                visibility: visible;
                opacity: 1;
            }
        }
        #content {
            padding-top: 2em;
            h1, h2, h3, h4, h5, h6 {
                a {
                    color: $black;
                    &.headerlink {
                        color: hsl(var(--primary-hue), var(--primary-sat), var(--lit-base));
                    }
                }
            }
        }
        header {
            .entry-title {
                margin: 20px 0 2em 0;
                padding-bottom: 1em;
                border-bottom: $border;
                display: inline;
                text-decoration: none;
                margin: 0;
                &::after {
                    content: '';
                    display: block;
                    width: 60px;
                    height: 17px;
                    background-color: var(--primary);
                    position: relative;
                    left: -16px;
                    top: -20px;
                    z-index: -1;
                }
                a {
                    color: $black;
                }
            }
            .metadata {
                text-align: right;
                font-size: small;
                margin-top: 1em;
                color: $grey;
                p:last-child {
                    margin-bottom: 0;
                }
                & > span {
                    -webkit-transition: $transition;
                    -o-transition: $transition;
                    transition: $transition;
                    margin-left: 1em;
                    background-color: $light-grey;
                    color: $grey;
                    border-radius: 1em;
                    padding: 0 0.3em 0 0.7em;
                    a {
                        text-decoration: none;
                        display: inline-block;
                        color: unset;
                        background: none;
                        &:hover {
                            color: $white;
                        }
                    }
                    &:hover {
                        background-color: $grey;
                        color: $white;
                    }
                }
            }
        }
        #copyright {
            color: $grey;
            padding: 0.5em 1em;
            margin-bottom: 2em;
            border: $border;
            font-size: small;
            text-align: center;
            border-radius: 5px;
        }
        #endTag {
            text-align: center;
            color: $light-grey;
            font-size: 2em;
            margin: 1em 0;
        }
        blockquote {
            color: $grey;
            padding: 0 2em;
            border: var(--primary) 1px dotted;
            margin: 0;
            font-style: italic;
        }
        kbd {
            color: $dark-grey;
            border: 1px solid $grey;
            border-radius: 6px;
            box-shadow: inset 0 -1px 0 $grey;
            padding: 3px 5px;
        }
        h1 {
            font-size: 1.9rem;
            -webkit-text-decoration: $text-decoration;
                    text-decoration: $text-decoration;
            a {
                -webkit-text-decoration: none;
                        text-decoration: none;
            }
        }
        h2 {
            font-size: 1.7rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.35rem;
        }
        h5 {
            font-size: 1.2rem;
        }
        h6 {
            font-size: 1.1rem;
        }
        .table-overflow {
            overflow: auto;
            margin: 1.5em auto;
            table {
                padding: 0;
                margin: 0 auto;
                word-break: initial;
                border-collapse: collapse;
                thead {
                    tr {
                        border-bottom: 2px solid #000;
                        th {
                            padding: 0.5em;
                        }
                    }
                }
                tbody {
                    tr {
                        border-top: 1px dotted #999;
                        td {
                            padding: 0.5em;
                        }
                    }
                }
            }
        }
        ::marker {
            color: $grey;
        }
        table {
            tr {
                &:nth-child(2n+1) {
                    background-color: rgba(var(--primary-rgb),0.3);
                }
                td, th {
                    border: 1px var(--primary) solid;
                    padding: 0.5rem;
                }
            }
        }
        .md_li {
            list-style: circle;
        }
        hr {
            max-width: 100px;
            margin: 2em auto;
        }
        strong {
            background: $half-bg;
            font-weight: $font-weight-medium;
        }
        del {
            color: $grey;
        }
        sup {
            font-size: 0.5em;    
            a {
                border-bottom: none;
                text-indent: 0;
            }
        }
        cite {
            text-decoration: $text-decoration;
        }
        code {
            font-family: 'Source Code Pro' , monospace;
            font-weight: $font-weight-light;
            color: #666666;
            font-size: 0.8em;
            padding: 1px 5px;
            text-align: inherit;
            border: #cecece 1px solid;
            word-break: break-all;
            -webkit-box-decoration-break: clone;
            -o-box-decoration-break: clone;
            box-decoration-break: clone;
        }
        pre {
            font-family: 'Source Code Pro', monospace;
            font-weight: $font-weight-light;
            font-size: 0.8em;
            line-height: 1.8;
            overflow-x: auto;
            text-align: inherit;
            padding: 0.5em 1em;
            border: $border;
            code {
                color: #666666;
                padding: 0;
                border: none;
            }
        }
        .footnotes {
            font-size: 0.8em;
            color: #666666;
            padding: 0 0 0.2em 0;
            margin-top: 3em;
            ol {
                padding: 1em 2em 1em 3em;
            }
            .md_block {
                margin: 0;
                a {
                    color: #666666;
                    border-bottom: none;
                    -webkit-transition: $transition;
                    -o-transition: $transition;
                    transition: $transition;
                    &:hover {
                        border-bottom: none;
                        color: #cecece;
                    }
                }
            }
        }
        img {
            margin: 0 auto;
            display: inline-block;
            max-width: 100%;
            box-shadow: $box-shadow;
        }
        .only_img_before {
            font-style: italic;
            color: $grey;
            font-size: 0.9em;
        }
        .md_line {
            margin: 0!important;
        }
        .toc {
            margin: 0 0 1em 1em;
            border: $border;
            border-radius: 5px;
            background: $white;
            padding: 0em 2em 0em 1em;
            ul {
                padding-left: 1.4em;
                list-style: circle;
                li.active {
                    -webkit-transition: $transition;
                    -o-transition: $transition;
                    transition: $transition;
                    list-style: disc;
                    color: var(--primary);
                    a {
                        color: $black;
                        text-decoration: var(--primary) solid underline 0.2em;
                    }
                }
            }
        }
        .warning {
            color: $black;
            font-weight: $font-weight-medium;
            span {
                strong {
                    background: unset;
                    font-weight: $font-weight-heavy;
                }
            }
        }
        .foldup-caption {
            display: inline-table;
            margin: 0 auto;
            text-align: center;
            padding: 0 1em;
            border: $border;
            font-size: 0.85em;
            background: $white;
            -webkit-transition: $transition;
            -o-transition: $transition;
            transition: $transition;
            &:hover {
                background: var(--primary);
            }
        }
        .foldup {
            font-size: 0.9em;
            background: $white;
            padding: 1em 1.5em;
            border-top: $border;
            p {
                margin: 0;
                text-indent: 2.2em;
            }
        }
    }
    }
}

#pageMain {
    #postInner {
        .catLabel {
            text-align: center;
            margin-top: 1em;
            span {
                color: grey;
                background: #f1f1f1;
                padding: 0 1em;
                border-radius: 5px;
            }
        }
        .catMainTitle {
            .postTitleInner {
                margin: 2em 0;
                a {
                    font-size: 20px;
                    color: $black;
                }
                .summary {
                    color: $grey;
                    margin-top: 10px;
                }
            }
        }
    }
}

#pageMain {
    #postInner {
        .archiveBlock {
            .postMainTitle {
                font-size: small;
                margin: 20px 0 2em 0;
                padding: 0;
                border-bottom: none;
                display: -ms-grid;
                display: grid;
                .postTitleInner {
                    h1 {
                        display: inline;
                        float: right;
                        text-decoration: none;
                        margin: 0;
                        &::after {
                            content: '';
                            display: block;
                            width: 60px;
                            height: 17px;
                            background-color: var(--primary);
                            position: relative;
                            left: -16px;
                            top: -20px;
                            z-index: -1;
                        }
                    }
                }
                .postMeta {
                    text-align: right;
                    color: $grey;
                    a {
                        text-decoration: none;
                        color: unset;
                        -webkit-transition: $transition;
                        -o-transition: $transition;
                        transition: $transition;
                        background: none;
                        &:hover {
                            color: var(--primary);
                        }
                    }
                }
            }
            #archiveList {
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        time {
                            color: $grey;
                            font-size: small;
                            vertical-align: middle;
                            margin-right: 1em;
                        }
                        .articleTitle {
                            text-decoration: none;
                            color: $black;
                            vertical-align: middle;
                            background: $half-bg;
                            background-size: 0 100%;
                            -webkit-transition: $transition;
                            -o-transition: $transition;
                            transition: $transition;
                            &:hover {
                                background-size: 100% 100%;
                                color: $grey;
                            }
                        }
                    }
                }
            }
        }
    }
}

#pager {
    margin: 1em 0;
    .pagination {
        .pagination_container {
            font-size: small;
            .current {
                color: $black;
                -webkit-transition: $transition;
                -o-transition: $transition;
                transition: $transition;
                &:hover {
                    color: $grey;
                }
            }
            .page-number, .prev, .next {
                margin: 3px;
                -webkit-transition: $transition;
                -o-transition: $transition;
                transition: $transition;
                &:hover {
                    color: $black;
                }
            }
        }
    }
}

#pageMain {
#postInner {
#categories {
    border-top: $border;
    margin: 2em 0;
    padding: 2em 0 0 0;
    .cat-label {
        font-weight: $font-weight-medium;
        .special {
            font-weight: $font-weight-heavy;
        }
    }
    .cat-box {
        margin: 1em 0;
        line-height: 2;
        a {
            text-decoration: none;
            background: none;
            display: inline-block;
            margin: 0.2em 0;
            border: unset;
            -webkit-transition: $transition;
            -o-transition: $transition;
            transition: $transition;
            .cat-title {
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                text-decoration: none;
                color: $grey;
                background: $white;
                padding: 0 0.5em;
                border: $border;
                border-radius: 5px;
                margin: 2px;
                -webkit-transition: $transition;
                -o-transition: $transition;
                transition: $transition;
            }
            .cat-count {
                position: relative;
                top: -16px;
                font-size: 0.6em;
                right: 20px;
                color: $grey;
                background: $white;
                border: $border;
                padding: 0 4px;
                border-radius: 5px;
                -webkit-transition: $transition;
                -o-transition: $transition;
                transition: $transition;
            }
            &:hover {
                .cat-title {
                    color: $black;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                    border-radius: 0;
                    background: $light-grey;
                }
                .cat-count {
                    color: $black;
                    background: $light-grey;
                    border-radius: 0;
                }
            }
        }
    }
}
}
}

/* iframe ----------------------------------*/

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 73%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.v[data-class=v] .vcards .vcard:last-child .vh {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}
.v[data-class=v] .vsys {
    display: none;
}

@media only screen and (max-width: 1350px) {
    #pageMain {
        #postInner {
            .toc {
                margin: unset;
                float: unset;
                height: 100%;
                max-width: unset;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        flex-direction: column-reverse;
    }
    #pageSide {
        float: none;
        width: unset;
        margin: 0 3em 0 3em;
        header {
            border-top: $border;
            margin: 0 0 0 0;
            padding-top: 20px;
            font-size: small;
            width: 100%;
            text-align: left;
            .siteTitleContainer {
                position: relative;
                line-height: 4;
                .searchBar {
                    #search-results {
                        height: max-content;
                        overflow: visible;
                        max-width: 100%;
                        position: relative;
                        line-height: 1.5;
                        &.hidden {
                            display: block;
                        }
                    }
                }
                .siteTitle {
                    font-size: 30px;
                    &::after {
                        width: 60px;
                        left: -60px;
                        top: 5px;
                        display: inline-block;
                    }
                }
            }
            #menu {
                line-height: 4;
                ul {
                    li {
                        padding-left: 1em;
                        a {
                            padding: 1em;
                        }
                    }
                }
            }
        }
        a.sr-only {
            margin-bottom: 3em;
        }
    }
    #pageMain {
        margin: 0;
        article {
            margin: 0;
            padding: 0 20px;
            max-height: unset;
            ul {
                margin: 20px 0;
                li {
                    time {
                        margin-right: unset;
                        display: block;
                        margin-top: 1em;
                    }
                }
            }
            #pager {
                margin: 20px 0;
            }
        }
        #archiveList {
            max-height: unset;
            ul {
                li {
                    time {
                        margin-right: unset;
                        display: block;
                        margin-top: 1em;
                    }
                }
            }
        }
        footer {
            position: relative;
            right: 20px;
            left: unset;
        }
        #postInner {
            max-height: unset;
            padding: 0 20px;
            width: auto;
            .postMainTitle {
                display: block;
                padding-bottom: 2em;
                .postTitleInner {
                    h1 {
                        margin: 0;
                        line-height: 1.5;
                        float: unset;
                        display: block;
                        &::after {
                            width: 3em;
                            left: unset;
                            top: -15px;
                        }
                    }
                }
                .postMeta {
                    text-align: left;
                }
            }
            blockquote {
                padding: 0 1em;
            }
        }
    }
}

@media print {
    #pageSide {
        display: none;
    }
}
