/* Extra CSS supplementing nikola_rst.css */

div.admonition p.admonition-title,
div.hint p.admonition-title, 
div.important p.admonition-title,
div.note p.admonition-title,
div.tip p.admonition-title,
div.attention p.admonition-title,
div.caution p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title,
div.warning p.admonition-title {
    margin-top: 0;
    margin-bottom: 0;
}
