/*
 * Modified from https://github.com/matrixk/bitcron-theme-lily by matrixk
 */
:root {
  --primary-hue: 250.5882352941deg;
  --primary-sat: 100%;
  --primary-lit: 93.3333333333%;
  --primary: hsl(var(--primary-hue), var(--primary-sat), var(--primary-lit));
  --primary-rgb: 227, 221, 255;
  --darken: 25%;
  --lit-base: calc(var(--primary-lit) - var(--darken));
  --lit-dark: calc(var(--lit-base) - var(--darken));
  --primary-base: hsl(var(--primary-hue), var(--primary-sat), var(--lit-base));
  --primary-dark: hsl(var(--primary-hue), var(--primary-sat), var(--lit-dark)); }

/* templates for extend */
.module {
  font-size: 0.9em;
  line-height: 2; }

html {
  scroll-behavior: smooth; }

body {
  background: #ffffff;
  line-height: 2;
  font-size: 17px;
  color: #888888;
  letter-spacing: 0.1em;
  font-family: "Noto Serif CJK SC", "Noto Serif SC", "Source Han Serif SC", "Noto Serif CJK", "Source Han Serif", source-han-serif-sc, sans-serif;
  display: flex;
  margin: 0;
  min-height: 100vh; }

a {
  color: hsl(var(--primary-hue), var(--primary-sat), var(--lit-base));
  -webkit-text-decoration: var(--primary-base) dashed underline 0.05em;
  text-decoration: var(--primary-base) dashed underline 0.05em;
  background: linear-gradient(to top, var(--primary), var(--primary) 30%, transparent 30%) no-repeat;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-size: 0 100%; }
  a:hover {
    color: hsl(var(--primary-hue), var(--primary-sat), var(--lit-dark));
    background-size: 100% 100%; }

#pageSide {
  display: flex;
  flex-flow: column;
  margin: auto 2em; }
  #pageSide.hidden {
    display: none; }
  #pageSide header {
    /* width: $sidebar-width; */
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden auto; }
    #pageSide header .siteTitleContainer {
      padding-top: 2em; }
      #pageSide header .siteTitleContainer .searchBar {
        padding-bottom: 1em; }
        #pageSide header .siteTitleContainer .searchBar #tipue_search_input {
          background-color: #f1f1f1;
          width: 60%;
          vertical-align: middle;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          #pageSide header .siteTitleContainer .searchBar #tipue_search_input.hidden {
            width: 0;
            visibility: hidden; }
            #pageSide header .siteTitleContainer .searchBar #tipue_search_input.hidden ~ #searchClose {
              visibility: hidden;
              opacity: 0; }
        #pageSide header .siteTitleContainer .searchBar svg {
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          vertical-align: middle;
          scale: 1.2;
          box-shadow: 1px 1px 5px var(--primary);
          margin: 0.2em;
          padding: 0.2em; }
          #pageSide header .siteTitleContainer .searchBar svg:hover {
            background-color: var(--primary);
            scale: 1.4; }
        #pageSide header .siteTitleContainer .searchBar #search-results {
          max-height: 80%;
          background-color: var(--primary);
          position: absolute;
          overflow: hidden scroll;
          max-width: 34vw;
          padding: 0.5em;
          box-shadow: 1px 1px 5px #888888;
          border-radius: 0.3em;
          /* From tipuesearch.css */ }
          #pageSide header .siteTitleContainer .searchBar #search-results.hidden {
            display: none; }
          #pageSide header .siteTitleContainer .searchBar #search-results a {
            color: #000000;
            vertical-align: middle;
            background: linear-gradient(to top, #ffffff, #ffffff 30%, transparent 30%) no-repeat;
            background-size: 0 100%;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            #pageSide header .siteTitleContainer .searchBar #search-results a:hover {
              background-size: 100% 100%;
              color: #000000; }
          #pageSide header .siteTitleContainer .searchBar #search-results .tipue_search_result {
            margin-top: 3em;
            border-top: #888888 dashed 2px; }
          #pageSide header .siteTitleContainer .searchBar #search-results .tipue_search_content_title {
            font-size: large;
            font-weight: bold; }
            #pageSide header .siteTitleContainer .searchBar #search-results .tipue_search_content_title::after {
              content: '';
              display: block;
              width: 70px;
              height: 12px;
              background-color: #ffffff;
              position: relative;
              top: -26px;
              z-index: -1; }
          #pageSide header .siteTitleContainer .searchBar #search-results .tipue_search_content_bold {
            text-decoration: #ffffff underline 1px dashed;
            border-radius: 0.5em;
            outline: auto; }
          #pageSide header .siteTitleContainer .searchBar #search-results #tipue_search_foot_boxes {
            font: 14px 'Source Code Pro', sans-serif;
            text-transform: uppercase;
            color: #333;
            padding: 0;
            margin: 0;
            cursor: pointer; }
          #pageSide header .siteTitleContainer .searchBar #search-results #tipue_search_foot_boxes li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0; }
          #pageSide header .siteTitleContainer .searchBar #search-results #tipue_search_foot_boxes li a {
            background-color: #f7f7f7;
            color: #666;
            padding: 10px 17px 11px 17px;
            border-radius: 3px;
            margin-right: 7px;
            text-decoration: none;
            text-align: center;
            transition: 0.3s; }
          #pageSide header .siteTitleContainer .searchBar #search-results #tipue_search_foot_boxes li.current {
            background: #252525;
            color: #ccc;
            padding: 10px 17px 11px 17px;
            border-radius: 3px;
            margin-right: 7px;
            text-align: center; }
          #pageSide header .siteTitleContainer .searchBar #search-results #tipue_search_foot_boxes li a:hover {
            background: #252525;
            color: #ccc; }
      #pageSide header .siteTitleContainer .siteTitle {
        letter-spacing: 0;
        font-size: 50px;
        text-decoration: none;
        line-height: 1;
        font-family: "Long Cang", cursive;
        color: #000000;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        #pageSide header .siteTitleContainer .siteTitle a {
          color: unset;
          text-decoration: none; }
        #pageSide header .siteTitleContainer .siteTitle:hover {
          color: #888888; }
        #pageSide header .siteTitleContainer .siteTitle::after {
          content: '';
          display: block;
          width: 110px;
          height: 0.4em;
          background-color: var(--primary);
          position: relative;
          left: 120px;
          top: -26px;
          z-index: -1; }
    #pageSide header .siteTextContainer {
      display: inline;
      max-width: 100px; }
      #pageSide header .siteTextContainer .siteText span {
        display: block; }
      #pageSide header .siteTextContainer .siteText .special {
        color: #000000; }
    #pageSide header #menu {
      margin-top: 1em;
      overflow: hidden; }
      #pageSide header #menu ul {
        padding: 0;
        margin: 0; }
        #pageSide header #menu ul li {
          display: inline;
          list-style: none; }
          #pageSide header #menu ul li a {
            color: #888888;
            background: #f1f1f1;
            text-decoration: none;
            padding: 0 0.5em;
            border-radius: 10px;
            white-space: nowrap;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            #pageSide header #menu ul li a:hover {
              color: #ffffff;
              background: #888888; }
          #pageSide header #menu ul li.active a {
            color: #ffffff;
            background: #555555; }
            #pageSide header #menu ul li.active a span.sr-only {
              display: none; }
            #pageSide header #menu ul li.active a:hover {
              background: #888888; }
      #pageSide header #menu .icon {
        display: none; }

#pageMain {
  overflow: hidden;
  margin: auto 0;
  display: flex;
  width: 100%; }
  #pageMain.sideHidden #postInner {
    padding-left: 20px; }
    #pageMain.sideHidden #postInner article {
      padding-left: 20px; }
  #pageMain article {
    overflow: visible;
    margin: 0 3em 0.5em 0;
    border-bottom: var(--primary) 3px double; }
    #pageMain article::after {
      width: 120px;
      height: 17px;
      background-color: var(--primary);
      content: "";
      display: block;
      left: calc(100% - 120px);
      position: relative;
      opacity: 0.5; }
    #pageMain article .p-summary.entry-summary {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      overflow: hidden; }
      #pageMain article .p-summary.entry-summary *:first-child {
        margin-top: 0; }
        #pageMain article .p-summary.entry-summary *:first-child *:first-child {
          margin-top: 0; }
      #pageMain article .p-summary.entry-summary.pre-hidden {
        max-height: 100vh; }
      #pageMain article .p-summary.entry-summary.hidden {
        max-height: 0vh; }
  #pageMain footer {
    bottom: 0;
    left: 2em;
    font-size: small;
    display: none;
    position: absolute; }
    #pageMain footer p {
      text-align: right; }

/*Post---------------------------------------------------------------*/
#pageMain #postInner {
  scroll-behavior: smooth;
  max-height: 100vh;
  overflow: auto;
  padding: 0 2em 0 0;
  color: #000000;
  width: 100%; }
  #pageMain #postInner #content {
    margin-top: 1.2em; }
  #pageMain #postInner .postindex h1.entry-title {
    font-size: 1.35rem; }
  #pageMain #postInner .postindex article.h-entry {
    display: flex;
    flex-wrap: wrap; }
    #pageMain #postInner .postindex article.h-entry header, #pageMain #postInner .postindex article.h-entry div {
      flex-grow: 1; }
    #pageMain #postInner .postindex article.h-entry header {
      display: inline-block; }
      #pageMain #postInner .postindex article.h-entry header h1.entry-title {
        display: inline-block;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 1;
        border-bottom: none; }
        #pageMain #postInner .postindex article.h-entry header h1.entry-title::after {
          top: -12px; }
      #pageMain #postInner .postindex article.h-entry header .metadata {
        display: inline-block; }
    #pageMain #postInner .postindex article.h-entry > a {
      display: inline-block;
      margin: auto 0 auto auto;
      box-shadow: 1px 1px 10px var(--primary);
      background-color: #ffffff;
      padding: 0.2rem;
      opacity: 0.5; }
      #pageMain #postInner .postindex article.h-entry > a:hover {
        background-color: var(--primary);
        scale: 1.2;
        opacity: 1; }
      #pageMain #postInner .postindex article.h-entry > a.preview-icon::after {
        content: "";
        width: 1.4rem;
        height: 1.4rem;
        display: block;
        background-size: cover;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNCAxMmgxNnYySDR2LTJtMC0zaDE2djJINFY5bTEyLTVsLTQgNC00LTRoM1YxaDJ2M2gzTTggMTlsNC00IDQgNGgtM3YzaC0ydi0zSDh6Ii8+PC9zdmc+"); }
      #pageMain #postInner .postindex article.h-entry > a.preview-icon.preview::after {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTMgOXY2aDNsLTQgNC00LTRoM1Y5SDhsNC00IDQgNGgtM000IDJoMTZ2Mkg0VjJtMCAxOGgxNnYySDR2LTJ6Ii8+PC9zdmc+"); }
    #pageMain #postInner .postindex article.h-entry div.p-summary {
      flex-basis: 100%; }
  #pageMain #postInner article .license {
    border: 0.75rem rgba(var(--primary-rgb), 0.25) solid;
    background-color: rgba(var(--primary-rgb), 0.1);
    box-shadow: inset 0px 0px 10px var(--primary);
    padding: 0.5rem;
    border-radius: 0.25rem; }
    #pageMain #postInner article .license p {
      margin: 0;
      font-size: smaller; }
      #pageMain #postInner article .license p a {
        display: inline-block; }
      #pageMain #postInner article .license p img {
        height: 22px;
        margin-left: 3px;
        vertical-align: text-bottom; }
  #pageMain #postInner article .locator {
    position: fixed;
    right: 2em;
    top: -3em;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    padding: 0.2em 1em 0.2em 1em;
    box-shadow: 1px 1px 10px var(--primary);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0.8em; }
    #pageMain #postInner article .locator a {
      box-shadow: 0px 0px 5px var(--primary);
      padding: 5px;
      border-radius: 5px; }
    #pageMain #postInner article .locator a[href="#toc"] {
      margin-right: 1em; }
    #pageMain #postInner article .locator.visible {
      top: 0.5em;
      visibility: visible;
      opacity: 1; }
  #pageMain #postInner article #content {
    padding-top: 2em; }
    #pageMain #postInner article #content h1 a, #pageMain #postInner article #content h2 a, #pageMain #postInner article #content h3 a, #pageMain #postInner article #content h4 a, #pageMain #postInner article #content h5 a, #pageMain #postInner article #content h6 a {
      color: #000000; }
      #pageMain #postInner article #content h1 a.headerlink, #pageMain #postInner article #content h2 a.headerlink, #pageMain #postInner article #content h3 a.headerlink, #pageMain #postInner article #content h4 a.headerlink, #pageMain #postInner article #content h5 a.headerlink, #pageMain #postInner article #content h6 a.headerlink {
        color: hsl(var(--primary-hue), var(--primary-sat), var(--lit-base)); }
  #pageMain #postInner article header .entry-title {
    margin: 20px 0 2em 0;
    padding-bottom: 1em;
    border-bottom: #888888 1px dotted;
    display: inline;
    text-decoration: none;
    margin: 0; }
    #pageMain #postInner article header .entry-title::after {
      content: '';
      display: block;
      width: 60px;
      height: 17px;
      background-color: var(--primary);
      position: relative;
      left: -16px;
      top: -20px;
      z-index: -1; }
    #pageMain #postInner article header .entry-title a {
      color: #000000; }
  #pageMain #postInner article header .metadata {
    text-align: right;
    font-size: small;
    margin-top: 1em;
    color: #888888; }
    #pageMain #postInner article header .metadata p:last-child {
      margin-bottom: 0; }
    #pageMain #postInner article header .metadata > span {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      margin-left: 1em;
      background-color: #f1f1f1;
      color: #888888;
      border-radius: 1em;
      padding: 0 0.3em 0 0.7em; }
      #pageMain #postInner article header .metadata > span a {
        text-decoration: none;
        display: inline-block;
        color: unset;
        background: none; }
        #pageMain #postInner article header .metadata > span a:hover {
          color: #ffffff; }
      #pageMain #postInner article header .metadata > span:hover {
        background-color: #888888;
        color: #ffffff; }
  #pageMain #postInner article #copyright {
    color: #888888;
    padding: 0.5em 1em;
    margin-bottom: 2em;
    border: #888888 1px dotted;
    font-size: small;
    text-align: center;
    border-radius: 5px; }
  #pageMain #postInner article #endTag {
    text-align: center;
    color: #f1f1f1;
    font-size: 2em;
    margin: 1em 0; }
  #pageMain #postInner article blockquote {
    color: #888888;
    padding: 0 2em;
    border: var(--primary) 1px dotted;
    margin: 0;
    font-style: italic; }
  #pageMain #postInner article kbd {
    color: #555555;
    border: 1px solid #888888;
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 #888888;
    padding: 3px 5px; }
  #pageMain #postInner article h1 {
    font-size: 1.9rem;
    -webkit-text-decoration: var(--primary-base) dashed underline 0.05em;
    text-decoration: var(--primary-base) dashed underline 0.05em; }
    #pageMain #postInner article h1 a {
      -webkit-text-decoration: none;
      text-decoration: none; }
  #pageMain #postInner article h2 {
    font-size: 1.7rem; }
  #pageMain #postInner article h3 {
    font-size: 1.5rem; }
  #pageMain #postInner article h4 {
    font-size: 1.35rem; }
  #pageMain #postInner article h5 {
    font-size: 1.2rem; }
  #pageMain #postInner article h6 {
    font-size: 1.1rem; }
  #pageMain #postInner article .table-overflow {
    overflow: auto;
    margin: 1.5em auto; }
    #pageMain #postInner article .table-overflow table {
      padding: 0;
      margin: 0 auto;
      word-break: initial;
      border-collapse: collapse; }
      #pageMain #postInner article .table-overflow table thead tr {
        border-bottom: 2px solid #000; }
        #pageMain #postInner article .table-overflow table thead tr th {
          padding: 0.5em; }
      #pageMain #postInner article .table-overflow table tbody tr {
        border-top: 1px dotted #999; }
        #pageMain #postInner article .table-overflow table tbody tr td {
          padding: 0.5em; }
  #pageMain #postInner article ::marker {
    color: #888888; }
  #pageMain #postInner article table tr:nth-child(2n+1) {
    background-color: rgba(var(--primary-rgb), 0.3); }
  #pageMain #postInner article table tr td, #pageMain #postInner article table tr th {
    border: 1px var(--primary) solid;
    padding: 0.5rem; }
  #pageMain #postInner article .md_li {
    list-style: circle; }
  #pageMain #postInner article hr {
    max-width: 100px;
    margin: 2em auto; }
  #pageMain #postInner article strong {
    background: linear-gradient(to top, var(--primary), var(--primary) 30%, transparent 30%) no-repeat;
    font-weight: 600; }
  #pageMain #postInner article del {
    color: #888888; }
  #pageMain #postInner article sup {
    font-size: 0.5em; }
    #pageMain #postInner article sup a {
      border-bottom: none;
      text-indent: 0; }
  #pageMain #postInner article cite {
    text-decoration: var(--primary-base) dashed underline 0.05em; }
  #pageMain #postInner article code {
    font-family: 'Source Code Pro' , monospace;
    font-weight: 400;
    color: #666666;
    font-size: 0.8em;
    padding: 1px 5px;
    text-align: inherit;
    border: #cecece 1px solid;
    word-break: break-all;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone; }
  #pageMain #postInner article pre {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.8;
    overflow-x: auto;
    text-align: inherit;
    padding: 0.5em 1em;
    border: #888888 1px dotted; }
    #pageMain #postInner article pre code {
      color: #666666;
      padding: 0;
      border: none; }
  #pageMain #postInner article .footnotes {
    font-size: 0.8em;
    color: #666666;
    padding: 0 0 0.2em 0;
    margin-top: 3em; }
    #pageMain #postInner article .footnotes ol {
      padding: 1em 2em 1em 3em; }
    #pageMain #postInner article .footnotes .md_block {
      margin: 0; }
      #pageMain #postInner article .footnotes .md_block a {
        color: #666666;
        border-bottom: none;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        #pageMain #postInner article .footnotes .md_block a:hover {
          border-bottom: none;
          color: #cecece; }
  #pageMain #postInner article img {
    margin: 0 auto;
    display: inline-block;
    max-width: 100%;
    box-shadow: 0 0 10px #f1f1f1; }
  #pageMain #postInner article .only_img_before {
    font-style: italic;
    color: #888888;
    font-size: 0.9em; }
  #pageMain #postInner article .md_line {
    margin: 0 !important; }
  #pageMain #postInner article .toc {
    margin: 0 0 1em 1em;
    border: #888888 1px dotted;
    border-radius: 5px;
    background: #ffffff;
    padding: 0em 2em 0em 1em; }
    #pageMain #postInner article .toc ul {
      padding-left: 1.4em;
      list-style: circle; }
      #pageMain #postInner article .toc ul li.active {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        list-style: disc;
        color: var(--primary); }
        #pageMain #postInner article .toc ul li.active a {
          color: #000000;
          text-decoration: var(--primary) solid underline 0.2em; }
  #pageMain #postInner article .warning {
    color: #000000;
    font-weight: 600; }
    #pageMain #postInner article .warning span strong {
      background: unset;
      font-weight: 800; }
  #pageMain #postInner article .foldup-caption {
    display: inline-table;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em;
    border: #888888 1px dotted;
    font-size: 0.85em;
    background: #ffffff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #pageMain #postInner article .foldup-caption:hover {
      background: var(--primary); }
  #pageMain #postInner article .foldup {
    font-size: 0.9em;
    background: #ffffff;
    padding: 1em 1.5em;
    border-top: #888888 1px dotted; }
    #pageMain #postInner article .foldup p {
      margin: 0;
      text-indent: 2.2em; }

#pageMain #postInner .catLabel {
  text-align: center;
  margin-top: 1em; }
  #pageMain #postInner .catLabel span {
    color: grey;
    background: #f1f1f1;
    padding: 0 1em;
    border-radius: 5px; }

#pageMain #postInner .catMainTitle .postTitleInner {
  margin: 2em 0; }
  #pageMain #postInner .catMainTitle .postTitleInner a {
    font-size: 20px;
    color: #000000; }
  #pageMain #postInner .catMainTitle .postTitleInner .summary {
    color: #888888;
    margin-top: 10px; }

#pageMain #postInner .archiveBlock .postMainTitle {
  font-size: small;
  margin: 20px 0 2em 0;
  padding: 0;
  border-bottom: none;
  display: -ms-grid;
  display: grid; }
  #pageMain #postInner .archiveBlock .postMainTitle .postTitleInner h1 {
    display: inline;
    float: right;
    text-decoration: none;
    margin: 0; }
    #pageMain #postInner .archiveBlock .postMainTitle .postTitleInner h1::after {
      content: '';
      display: block;
      width: 60px;
      height: 17px;
      background-color: var(--primary);
      position: relative;
      left: -16px;
      top: -20px;
      z-index: -1; }
  #pageMain #postInner .archiveBlock .postMainTitle .postMeta {
    text-align: right;
    color: #888888; }
    #pageMain #postInner .archiveBlock .postMainTitle .postMeta a {
      text-decoration: none;
      color: unset;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      background: none; }
      #pageMain #postInner .archiveBlock .postMainTitle .postMeta a:hover {
        color: var(--primary); }

#pageMain #postInner .archiveBlock #archiveList ul {
  list-style: none;
  padding: 0; }
  #pageMain #postInner .archiveBlock #archiveList ul li time {
    color: #888888;
    font-size: small;
    vertical-align: middle;
    margin-right: 1em; }
  #pageMain #postInner .archiveBlock #archiveList ul li .articleTitle {
    text-decoration: none;
    color: #000000;
    vertical-align: middle;
    background: linear-gradient(to top, var(--primary), var(--primary) 30%, transparent 30%) no-repeat;
    background-size: 0 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #pageMain #postInner .archiveBlock #archiveList ul li .articleTitle:hover {
      background-size: 100% 100%;
      color: #888888; }

#pager {
  margin: 1em 0; }
  #pager .pagination .pagination_container {
    font-size: small; }
    #pager .pagination .pagination_container .current {
      color: #000000;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #pager .pagination .pagination_container .current:hover {
        color: #888888; }
    #pager .pagination .pagination_container .page-number, #pager .pagination .pagination_container .prev, #pager .pagination .pagination_container .next {
      margin: 3px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #pager .pagination .pagination_container .page-number:hover, #pager .pagination .pagination_container .prev:hover, #pager .pagination .pagination_container .next:hover {
        color: #000000; }

#pageMain #postInner #categories {
  border-top: #888888 1px dotted;
  margin: 2em 0;
  padding: 2em 0 0 0; }
  #pageMain #postInner #categories .cat-label {
    font-weight: 600; }
    #pageMain #postInner #categories .cat-label .special {
      font-weight: 800; }
  #pageMain #postInner #categories .cat-box {
    margin: 1em 0;
    line-height: 2; }
    #pageMain #postInner #categories .cat-box a {
      text-decoration: none;
      background: none;
      display: inline-block;
      margin: 0.2em 0;
      border: unset;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #pageMain #postInner #categories .cat-box a .cat-title {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
        color: #888888;
        background: #ffffff;
        padding: 0 0.5em;
        border: #888888 1px dotted;
        border-radius: 5px;
        margin: 2px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      #pageMain #postInner #categories .cat-box a .cat-count {
        position: relative;
        top: -16px;
        font-size: 0.6em;
        right: 20px;
        color: #888888;
        background: #ffffff;
        border: #888888 1px dotted;
        padding: 0 4px;
        border-radius: 5px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      #pageMain #postInner #categories .cat-box a:hover .cat-title {
        color: #000000;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
        background: #f1f1f1; }
      #pageMain #postInner #categories .cat-box a:hover .cat-count {
        color: #000000;
        background: #f1f1f1;
        border-radius: 0; }

/* iframe ----------------------------------*/
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 73%; }

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.v[data-class=v] .vcards .vcard:last-child .vh {
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.v[data-class=v] .vsys {
  display: none; }

@media only screen and (max-width: 1350px) {
  #pageMain #postInner .toc {
    margin: unset;
    float: unset;
    height: 100%;
    max-width: unset; } }

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    flex-direction: column-reverse; }
  #pageSide {
    float: none;
    width: unset;
    margin: 0 3em 0 3em; }
    #pageSide header {
      border-top: #888888 1px dotted;
      margin: 0 0 0 0;
      padding-top: 20px;
      font-size: small;
      width: 100%;
      text-align: left; }
      #pageSide header .siteTitleContainer {
        position: relative;
        line-height: 4; }
        #pageSide header .siteTitleContainer .searchBar #search-results {
          height: max-content;
          overflow: visible;
          max-width: 100%;
          position: relative;
          line-height: 1.5; }
          #pageSide header .siteTitleContainer .searchBar #search-results.hidden {
            display: block; }
        #pageSide header .siteTitleContainer .siteTitle {
          font-size: 30px; }
          #pageSide header .siteTitleContainer .siteTitle::after {
            width: 60px;
            left: -60px;
            top: 5px;
            display: inline-block; }
      #pageSide header #menu {
        line-height: 4; }
        #pageSide header #menu ul li {
          padding-left: 1em; }
          #pageSide header #menu ul li a {
            padding: 1em; }
    #pageSide a.sr-only {
      margin-bottom: 3em; }
  #pageMain {
    margin: 0; }
    #pageMain article {
      margin: 0;
      padding: 0 20px;
      max-height: unset; }
      #pageMain article ul {
        margin: 20px 0; }
        #pageMain article ul li time {
          margin-right: unset;
          display: block;
          margin-top: 1em; }
      #pageMain article #pager {
        margin: 20px 0; }
    #pageMain #archiveList {
      max-height: unset; }
      #pageMain #archiveList ul li time {
        margin-right: unset;
        display: block;
        margin-top: 1em; }
    #pageMain footer {
      position: relative;
      right: 20px;
      left: unset; }
    #pageMain #postInner {
      max-height: unset;
      padding: 0 20px;
      width: auto; }
      #pageMain #postInner .postMainTitle {
        display: block;
        padding-bottom: 2em; }
        #pageMain #postInner .postMainTitle .postTitleInner h1 {
          margin: 0;
          line-height: 1.5;
          float: unset;
          display: block; }
          #pageMain #postInner .postMainTitle .postTitleInner h1::after {
            width: 3em;
            left: unset;
            top: -15px; }
        #pageMain #postInner .postMainTitle .postMeta {
          text-align: left; }
      #pageMain #postInner blockquote {
        padding: 0 1em; } }

@media print {
  #pageSide {
    display: none; } }
